{{#global}}
	{{#if navigation}}
		{{#with navigation}}
			<nav class="navigation"><!--
				{{#if items}}
					{{#each items}}
						--><div class="navigation--item">
							{{#if icon}}<img src="images/{{icon}}.png" />{{/if}}
							{{#if link}}
								<a href="{{link}}">
									{{#if title}}{{{title}}}{{else}}Lorem ipsum{{/if}}
								</a>
							{{else}}
								{{#if title}}{{title}}{{else}}Lorem ipsum{{/if}}
							{{/if}}
						</div><!--
					{{/each}}
				{{/if}}
			--></nav>
		{{/with}}
	{{/if}}
{{/global}}